
<div class="form">
    <label>
        Title:
        <input id="tb-name" class="form-control" type="text">
    </label>
    <br />
    <label>
        Image url:
        <input  id="tb-img" class="form-control" type="text">
    </label>
    <br />
    <label>
        Price:
        <input id="tb-price" class="form-control" type="number">
    </label>
    <br />
    <label>
        Category:
        <input id="tb-category" class="form-control" type="text">
    </label>
    <br />
    <label>
        Rating:
        <input id="tb-rating" class="form-control" type="number">
    </label>
    <br />
    <label>
        Duration:
        <input id="tb-duration" class="form-control" type="number">
    </label>
    <br />
    <label>
        Artist:
        <input id="tb-artist" class="form-control" type="text">
    </label>
    <br />
    <label>
        Number of songs:
        <input id="tb-songCount" class="form-control" type="number">
    </label>
    <br />
    <button id="btn-add" class="btn btn-success">Add</button>
</div>
