
<div class="form">
    <label>
        Title:
        <input id="tb-name" class="form-control" type="text">
    </label>
    <br />
    <label>
        Image url:
        <input  id="tb-img" class="form-control" type="text">
    </label>
    <br />
    <label>
        Price:
        <input id="tb-price" class="form-control" type="number">
    </label>
    <br />
    <label>
        Category:
        <input id="tb-category" class="form-control" type="text">
    </label>
    <br />
    <label>
        Author:
        <input id="tb-author" class="form-control" type="text">
    </label>
    <br />
    <label>
        Number of pages:
        <input id="tb-pages" class="form-control" type="number">
    </label>
    <br />
    <label>
        Cover:
        <input id="tb-cover" class="form-control" type="text">
    </label>
    <br />
    <label>
        Summary:
        <input id="tb-summary" class="form-control" type="text">
    </label>
    <br />
    <button id="btn-add" class="btn btn-success">Add</button>
</div>
