<div class="highlight text-center color-285564 inline marg-10">
    <div class="content">
        <a href="#/products/bouquets"><h3 class="marg-10 text-ffffff">BOUQUETS</h3></a>
        <span class="marg-10 text-ffffff">unique bouquets with fresh flowers</span>
    </div>
</div>
<div class="highlight text-center color-5b9ca3 inline marg-10">
    <div class="content">
        <a href="#/products/plants"><h3 class="marg-10 text-ffffff">PLANTS</h3></a>
        <span class="marg-10 text-ffffff">beautifully aranged plants</span>
    </div>
</div>
<div class="highlight text-center color-edb4b6 inline marg-10">
    <div class="content">
        <a href="#/products/chocolates"><h3 class="marg-10 text-ffffff">VALENTINE'S DAY</h3></a>
        <span class="marg-10 text-ffffff">lots of ideas for romantic gifts</span>
    </div>
</div>
<div class="highlight text-center color-a0608b inline marg-10">
    <div class="content">
        <a href="#/products/boxes"><h3 class="marg-10 text-ffffff">SPECIAL OFFERS</h3></a>
        <span class="marg-10 text-ffffff">get 25% off of boxes only this week</span>
    </div>
</div>
