<div class="highlight" id="first">
    <div class="content">
        <a href="#"><h3>BOUQUETS</h3></a>
        <span>unique bouquets with fresh flowers</span>
    </div>
</div>
<div class="highlight" id="second">
    <div class="content">
        <a href="#"><h3>PLANTS</h3></a>
        <span>beautifully aranged plants</span>
    </div>
</div>
<div class="highlight" id="third">
    <div class="content">
        <a href="#"><h3>VALENTINE'S DAY</h3></a>
        <span>lots of ideas for romantic gifts</span>
    </div>
</div>
<div class="highlight" id="fourth">
    <div class="content">
        <a href="#"><h3>SPECIAL OFFERS</h3></a>
        <span>get 25% off only this week</span>
    </div>
</div>
