<div id="home">
  <div class="highlight-container flex">
  </div>
  <div class="banner flex row no-margin space-btwn">
      <a href="#/products/lillies"><img class="big" src="../images/lillies.png" alt="lillies">
          <h3 class="left no-margin text-696969">Beautiful bouquets with LILLIES</h3></a>
      <a href="#/products/sunflowers"><img class="small right" src="../images/sunflowers.png" alt="sunflowers">
          <h3 class="right text text-696969">SUNFLOWERS</h3></a>
  </div>
  <div class="best">
      <a href="#/products/best"><h3 class="margin-10-20">BEST SELLERS</h3></a>
      <hr>
  <div class="products-wrapper flex row" id="hot">
  </div>
  </div>

  <div class="banner flex row no-margin space-btwn">
      <a href="#/products/orchids"><img class="small" src="../images/orchid.png" alt="orchids">
          <h3 class="left no-margin text-696969">EXOTIC FLOWERS</h3></a>
      <a href="#/products/chrisanthemum"><img class="big right" src="../images/chrisanthemum.png" alt="chrisanthemum">
          <h3 class="right text text-696969">CHRISANTHEMUM</h3></a>
  </div>
  <div class="newest">
      <a href="#/products/new"><h3>NEWEST PRODUCTS</h3></a>
      <hr>
  <div class="products-wrapper flex row" id="new">
  </div>
  </div>
  <div class="banner flex row no-margin space-btwn">
      <a href="#/products/plants"><img class="big " src="../images/plants.png" alt="plants">
          <h3 class="left no-margin text-696969">Indoor PLANTS</h3></a>
      <a href="#/products/chocolates"><img class="small right" src="../images/chocolates.png" alt="chocolates">
          <h3 class="right text text-696969">Tasty CHOCOLATES</h3></a>
  </div>
  </div>
