<div id="home">
  <div class="highlight-container">
      <div class="highlight" id="first">
          <div class="content">
              <a href="#/products/bouquets"><h3>BOUQUETS</h3></a>
              <span>unique bouquets with fresh flowers</span>
          </div>
      </div>
      <div class="highlight" id="second">
          <div class="content">
              <a href="#/products/plants"><h3>PLANTS</h3></a>
              <span>beautifully aranged plants</span>
          </div>
      </div>
      <div class="highlight" id="third">
          <div class="content">
              <a href="#/products/chocolates"><h3>TASTY BOUQUETS</h3></a>
              <span>bouquets with Ferrero Rocher chocolates</span>
          </div>
      </div>
      <div class="highlight" id="fourth">
          <div class="content">
              <a href="#/products/boxes"><h3>SPECIAL OFFERS</h3></a>
              <span>get 25% off of boxes only this week</span>
          </div>
      </div>
  </div>
  <div class="banner">
      <a href="#/products/lillies"><img class="big" src="../images/lillies.png" alt="lillies">
          <h3 class="left">Beautiful bouquets with LILLIES</h3></a>
      <a href="#/products/sunflowers"><img class="small right" src="../images/sunflowers.png" alt="sunflowers">
          <h3 class="right text">SUNFLOWERS</h3></a>
  </div>
  <div class="best">
      <a href="#/products/best"><h3>BEST SELLERS</h3></a>
      <hr>
  <div class="products-wrapper" id="hot">
  </div>
  </div>

  <div class="banner">
      <a href="#/products/orchids"><img class="small" src="../images/orchid.png" alt="orchids">
          <h3 class="left">EXOTIC FLOWERS</h3></a>
      <a href="#/products/chrisanthemum"><img class="big right" src="../images/chrisanthemum.png" alt="chrisanthemum">
          <h3 class="right text">CHRISANTHEMUM</h3></a>
  </div>
  <div class="newest">
      <a href="#/products/new"><h3>NEWEST PRODUCTS</h3></a>
      <hr>
  <div class="products-wrapper" id="new">
  </div>
  </div>
  <div class="banner">
      <a href="#/products/plants"><img class="big " src="../images/plants.png" alt="plants">
          <h3 class="left">Indoor PLANTS</h3></a>
      <a href="#/products/chocolates"><img class="small right" src="../images/chocolates.png" alt="chocolates">
          <h3 class="right text">Tasty CHOCOLATES</h3></a>
  </div>
  </div>
