<div>
    <div>
        <h3 class="no-margin text-edb4b6">Order accepted!</h3>
        <hr class="cart-hr">
        <p class="text-5b9ca3">Your order has been received. Thank you for your purchase!</p>
        <p class="text-5b9ca3">Our representative will contact you for further details.</p>
    </div>
</div>
