<div class="highlight-container">
</div>
<div class="section">
    <div class="wrapper">
        <input type="search" id="search" placeholder="Search Products...">
        <div class="categories">
              <a href="#/products"><h3>CATEGORIES</h3></a>
            <div class="ctgr">
                <a href="#/products/bouquets"><h4 >Bouquets <i></i></h4></a>
                <div class="unctgr">
                    <a href="#/products/roses"><h5>ROSES</h5></a>
                    <a href="#/products/tulipes"><h5>TULIPS</h5></a>
                    <a href="#/products/orchids"><h5>ORCHIDS</h5></a>
                    <a href="#/products/lillies"><h5>LILLIES</h5></a>
                    <a href="#/products/gerbera"><h5>GERBERA</h5></a>
                    <a href="#/products/chrisanthemum"><h5>CHRISANTEMUM</h5></a>
                    <a href="#/products/sunflowers"><h5>SUNFOWERS</h5></a>
                      <a href="#/products/mixed"><h5>MIXTURES</h5></a>
                </div>
                <a href="#/products/plants"><h4>Plants <i></i></h4></a>
                <a href="#/products/boxes"><h4>Boxes <i></i></h4></a>
                <a href="#/products/chocolates"><h4>Chocolates <i></i></h4></a>
            </div>
        </div>
    </div>
    <div class="wrapper" id="store">

    </div>
</div>
