.banner {
    padding: 0;
    position: relative;
    overflow: hidden;
}

.small, .big {
    width: 100%;
}

.small:hover {
    -webkit-transform: scale(1.50);
    /* Safari and Chrome */
    -moz-transform: scale(1.50);
    /* Firefox */
    -ms-transform: scale(1.50);
    /* IE 9 */
    -o-transform: scale(1.50);
    /* Opera */
    transform: scale(1.50);
}

.big:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}

.banner img {
    display: block;
    height: 400px;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}

.banner a {
    text-decoration: none;
}

.left, .text {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.69);
}

.left {
    bottom: 10px;
    padding: 5px 40px;
}
.text{
  margin-top: 10px;
  right: 0;
  padding: 5px 40px;
}
