.logo img {
    width: 9em;
    padding: 10px 30px;
}

nav div.logo {
    float: left;
}

ul.menu li {
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
}
ul.menu li a{
  font-size: 2em;
}
nav ul.menu {
    float: right;
}
nav{
  height: 100px;
  box-shadow: 0 5px 20px #888888;
}
ul.menu li a:hover, ul.menu li:active{
font-size: 3em;
padding: 0 20px;
}
ul.menu li:hover a{
  color: #a0608b;
}
ul.menu li:active a
{
  color: #5b9ca3;
}
.hidden-when-not-logged-in {
    display: none;
}
.logged-in .hidden-when-not-logged-in {
    display: initial;
}
 .visible-when-not-logged-in {
    display: none ;
}
