.products-wrapper {
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 5px;
}

.product-short {
      width: 200px;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
    background-color: #ffffff;
}
.product-short:hover{
  -webkit-transform: scale(1.20);
  /* Safari and Chrome */
  -moz-transform: scale(1.20);
  /* Firefox */
  -ms-transform: scale(1.20);
  /* IE 9 */
  -o-transform: scale(1.20);
  /* Opera */
  transform: scale(1.20);
  border: 2px solid #a0608b;
  color: #a0608b;
}
.product-short:hover .product-name, .best h3:hover, .newest h3:hover{
  color: #a0608b;
}
.best h3:hover, .newest h3:hover{
  font-size: 3em;
}
.product-short img {
    width: 8em;
}

.hot, .new {
    color: #ffffff;
    border-radius: 10px;
    padding: 0 10px;
    margin-right: 5px;
}


.product-name {
    font-weight: normal;
    font-size: 1.2em;
}
.info span{
  font-family: ITCEDSCR;
}

.best, .newest {
    margin: 40px;
}


.best hr {
    margin-left: 20px;
    width: 40%;
}

.newest h3 {
    margin: 10px 5px;
    text-align: right;
}

.newest hr {
    margin-right: 5px;
    left: 35%;
    width: 65%;
}
.filter{
    display: none;
}
