.section{
  justify-content: flex-start;;
  margin: 20px 50px;
}
.wrapper{
  padding: 10px 30px;
}

.sorting{
    padding: 0 5%;
    margin-bottom: 40px;
}
.sorting span{
  font-style: italic;
}
.product-short{
  margin:20px 20px;
}
.ctgr, .unctgr{
  padding-left: 20px
}

input[type=search] {
    box-sizing: border-box;
    border: 1px solid #c9c9c9;
    background-color: #ffffff;
    background-image: url('../images/search-icon.png');
    padding: 0 10px;
    height: 34px;
    width: 250px;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.styled-select {
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 1em;
   height: 29px;
   padding: 5px;
   width: 268px;
}

.slate {
   background: url(../images/arrow-gray.png) no-repeat right center;
   height: 34px;
   width: 240px;
}

.slate select {
   font-size: 1em;
   font-family: BERNHC;
   height: 34px;
   width: 268px;
}

.slate   { background-color: #ebebeb; }


.slate select   { color: #c9c9c9; }
